.spanHomePage1:hover{
border:1px black solid;
}
.spanHomePage1{
    border:1px transparent solid;
    }


    .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image  td, th {
    vertical-align: middle;
  }
  .h1Homepage1{
    text-align:center;
  }
