.container {
    padding: 2rem 0rem;
  }
  .inputUser1{
    width: 15%;font-size:1.5rem
  }
  .btnUser1{
    margin-left: 2vw;
margin-top: 2vw;
  }
  .btnUser2{
    margin-left: 4.4vw;font-size: 15px;
  }
  .formUser1{margin-left: 40vw;

  }