/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;}

    .btnHomepage1{
        font-size: 15px;
      }